@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-color: 218deg 73% 0%;
  --shadow-elevation-low:
    -0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.38),
    -0.4px 0.5px 0.7px -1.2px hsl(var(--shadow-color) / 0.4),
    -1.1px 1.2px 1.9px -2.3px hsl(var(--shadow-color) / 0.42);
  --shadow-elevation-medium:
    -0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.32),
    -0.7px 0.8px 1.2px -0.6px hsl(var(--shadow-color) / 0.33),
    -1.4px 1.5px 2.4px -1.2px hsl(var(--shadow-color) / 0.34),
    -2.8px 3.1px 4.8px -1.7px hsl(var(--shadow-color) / 0.35),
    -5.4px 5.9px 9.2px -2.3px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    -0.2px 0.3px 0.4px hsl(var(--shadow-color) / 0.33),
    -1.6px 1.7px 2.7px -0.3px hsl(var(--shadow-color) / 0.33),
    -2.9px 3.2px 5px -0.6px hsl(var(--shadow-color) / 0.34),
    -4.6px 4.9px 7.8px -0.9px hsl(var(--shadow-color) / 0.35),
    -6.9px 7.4px 11.7px -1.2px hsl(var(--shadow-color) / 0.35),w
    -10.2px 11px 17.3px -1.4px hsl(var(--shadow-color) / 0.36),
    -14.8px 16px 25.2px -1.7px hsl(var(--shadow-color) / 0.37),
    -21.2px 22.9px 36px -2px hsl(var(--shadow-color) / 0.37),
    -29.5px 31.9px 50.2px -2.3px hsl(var(--shadow-color) / 0.38);
}


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1,h2,h3,h4,h5,h6 {
  text-wrap: balance;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

